* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: rgb(215, 207, 207);
}

.box{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(132, 132, 132);
    text-align: center;
    border-radius: 20px;
}

.box h1{
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"], .box input[type="email"], textarea{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    padding: 10px 5px;
    width: 200px;
    color: aliceblue;
    border-radius: 10px;
    outline: none;
}

.box input[type="text"]:focus, .box input[type="email"]:focus, textarea:focus{
    width: 250px;
    border-color: white;
    transition: 250ms;
}

.box input[type="submit"]{
    background: none;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    width: 200px;
    outline: none;
    color: white;
    cursor: pointer;
}


.box input[type="submit"]:hover{
    background: black;
}